* {
    /* margin: 0;
    padding: 0; */
    font-family: 'Work Sans', sans-serif;
}

/* common section  */

.banner img,
.teams-container img,
.feature-img img {
    filter: blur(10px);
}

.btn-primary {
    border-radius: 8px;
    padding: 20px 25px;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.text-gray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}


header {
    background-color: rgba(255, 144, 14, 0.10);
    flex-shrink: 0;
    padding: 0px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 30px;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    color: #424242;
    text-decoration: none;
}



/* banner Stylels */

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}


.banner-description {
    color: #727272;
    /* width: 868px; */
}

.banner {
    display: flex;
    flex-direction: column;
}


.banner img {
    margin-top: 30px;
    border-radius: 8px;
    /* width: 100%; */
}





/* main section */
main {
    max-width: 1440px;
    margin: 0 auto;
}


.teams-container {
    margin-top: 85px;
    display: flex;
    align-items: center;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.5rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .features {
    color: #FF900E;
    font-weight: 700;
}

/* features section style  */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.features .feature-img {
    margin-left: 50px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    padding: 30px 40px 30px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-exp {
    text-align: center;
    color: #FFF;
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
    position: relative;
    bottom: 77px;
    right: 92px;
}

.ten-exp h2 {
    margin: 0;
    font-size: 4rem;
}

.ten-exp p {
    text-align: center;
    font-size: 1.5rem;
}

/* facts secton style */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 45px 40px 60px;
}

.card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 0;
}

.card-title {
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 0;
}


/* sponsors section */

.sponsors {
    text-align: center;
}


.sponsors-imgs {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    filter: grayscale();
}

.sponsors-imgs img {
    width: 165px;
}


/* footer section style */

.f-p {
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 39px 410px;
    width: fit-content;
    margin: 130px auto;
}



/* responsive media query styles */

@media screen and (max-width:576px) {

    /* mobile devices */
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-imgs,
    .features {
        flex-direction: column;
    }

    .feature-img img {
        width: 100%;
        margin-left: 0;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content,
    .facts-card-container {
        padding: 20px 20px;
    }

    .f-p {
        padding: 20px;
        margin: 20px auto;
    }
}

.facts-card-container {
    gap: 20px;
}

/* tablet devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-imgs,
    .features {
        flex-direction: column;
    }

    .f-p {
        padding: 30px;
        margin: 30px auto;
    }

}